<a href="https://colab.research.google.com/github/andrewjcoxon/Hands-On-Machine-Learning-for-Algorithmic-Trading/blob/master/DMAC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This program uses the Moving Average Covergence/Divergence (MAC) crossover 
to determine when to buy and sell stock

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data
from pandas import DataFrame
plt.style.use('fivethirtyeight')

In [35]:
tickers = ['AAPL', 'MSFT', '^BA']

In [37]:
start_date = '2015-06-19'
end_date = '2020-06-18'

In [39]:
df = data.DataReader('AAPL', 'yahoo', start_date, end_date)

df.head()

                  High         Low  ...      Volume   Adj Close
Date                                ...
2015-06-19  127.820000  126.400002  ...  54716900.0  116.675667
2015-06-22  128.059998  127.080002  ...  34039300.0  117.606491
2015-06-23  127.610001  126.879997  ...  30268900.0  117.071945
2015-06-24  129.800003  127.120003  ...  55280900.0  118.067299
2015-06-25  129.199997  127.500000  ...  31938100.0  117.505127

[5 rows x 6 columns]

In [40]:
msft_data = data.DataReader('MSFT', 'yahoo', start_date, end_date)

msft_data.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2015-06-19  46.830002  45.990002  46.790001  46.099998  63837000.0  41.721615
2015-06-22  46.720001  46.160000  46.330002  46.230000  20318100.0  41.839264
2015-06-23  46.279999  45.619999  46.130001  45.910000  25896500.0  41.549664
2015-06-24  46.250000  45.549999  45.669998  45.639999  34890900.0  41.305302
2015-06-25  46.060001  45.500000  46.029999  45.650002  20616000.0  41.314346

In [46]:
msft_data = data.DataReader('BA', 'yahoo', start_date, end_date)

msft_data.head()

                  High         Low  ...     Volume   Adj Close
Date                                ...
2015-06-19  146.100006  144.949997  ...  4837300.0  127.552292
2015-06-22  146.210007  145.089996  ...  2086100.0  128.053223
2015-06-23  146.449997  143.800003  ...  2864400.0  126.937042
2015-06-24  144.800003  142.509995  ...  3989100.0  125.680275
2015-06-25  143.759995  142.339996  ...  2153800.0  125.196854

[5 rows x 6 columns]

In [50]:
df = df.set_index(pd.DatetimeIndex(df['Date'].values))

KeyError: ignored