<a href="https://colab.research.google.com/github/andrewjcoxon/Hands-On-Machine-Learning-for-Algorithmic-Trading/blob/master/DMAC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This program uses the Moving Average Covergence/Divergence (MAC) crossover 
to determine when to buy and sell stock

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data
from pandas import DataFrame
plt.style.use('fivethirtyeight')

In [35]:
tickers = ['AAPL', 'MSFT', '^BA']

In [37]:
start_date = '2015-06-19'
end_date = '2020-06-18'

In [55]:
df = data.DataReader('AAPL', 'yahoo', start_date, end_date)

df.head()

                  High         Low  ...      Volume   Adj Close
Date                                ...
2015-06-19  127.820000  126.400002  ...  54716900.0  116.675667
2015-06-22  128.059998  127.080002  ...  34039300.0  117.606491
2015-06-23  127.610001  126.879997  ...  30268900.0  117.071945
2015-06-24  129.800003  127.120003  ...  55280900.0  118.067299
2015-06-25  129.199997  127.500000  ...  31938100.0  117.505127

[5 rows x 6 columns]

In [60]:
df. to_csv (r'C:\Users\andre\ML Projects\export_dataframe.csv', index = False, header=True)
print(df)

                  High         Low  ...      Volume   Adj Close
Date                                ...
2015-06-19  127.820000  126.400002  ...  54716900.0  116.675667
2015-06-22  128.059998  127.080002  ...  34039300.0  117.606491
2015-06-23  127.610001  126.879997  ...  30268900.0  117.071945
2015-06-24  129.800003  127.120003  ...  55280900.0  118.067299
2015-06-25  129.199997  127.500000  ...  31938100.0  117.505127
...                ...         ...  ...         ...         ...
2020-06-12  347.799988  334.220001  ...  50001500.0  338.799988
2020-06-15  345.679993  332.579987  ...  34702200.0  342.989990
2020-06-16  353.200012  344.720001  ...  41357200.0  352.079987
2020-06-17  355.399994  351.089996  ...  28532000.0  351.589996
2020-06-18  353.450012  349.220001  ...  24205100.0  351.730011

[1259 rows x 6 columns]

In [61]:
df.describe

<bound method NDFrame.describe of                   High         Low  ...      Volume   Adj Close
Date                                ...
2015-06-19  127.820000  126.400002  ...  54716900.0  116.675667
2015-06-22  128.059998  127.080002  ...  34039300.0  117.606491
2015-06-23  127.610001  126.879997  ...  30268900.0  117.071945
2015-06-24  129.800003  127.120003  ...  55280900.0  118.067299
2015-06-25  129.199997  127.500000  ...  31938100.0  117.505127
...                ...         ...  ...         ...         ...
2020-06-12  347.799988  334.220001  ...  50001500.0  338.799988
2020-06-15  345.679993  332.579987  ...  34702200.0  342.989990
2020-06-16  353.200012  344.720001  ...  41357200.0  352.079987
2020-06-17  355.399994  351.089996  ...  28532000.0  351.589996
2020-06-18  353.450012  349.220001  ...  24205100.0  351.730011

[1259 rows x 6 columns]>

In [62]:
df.head()

                  High         Low  ...      Volume   Adj Close
Date                                ...
2015-06-19  127.820000  126.400002  ...  54716900.0  116.675667
2015-06-22  128.059998  127.080002  ...  34039300.0  117.606491
2015-06-23  127.610001  126.879997  ...  30268900.0  117.071945
2015-06-24  129.800003  127.120003  ...  55280900.0  118.067299
2015-06-25  129.199997  127.500000  ...  31938100.0  117.505127

[5 rows x 6 columns]